body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:156px;
  width:650px;
  height:58px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:170px;
  width:300px;
  height:36px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:41px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:92px;
  visibility:hidden;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:98px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:128px;
  visibility:hidden;
}
#u18_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:134px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:133px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:36px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:76px;
  width:100px;
  height:52px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
